@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&family=Momo+Signature&family=Playwrite+US+Trad+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Momo+Signature&family=Playwrite+US+Trad+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Playwrite+US+Trad+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&family=Momo+Signature&family=Playwrite+US+Trad+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color:rgb(30, 30, 59);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 30px; 
}
#container{
    background-color: white;
    display: flex;
    padding: 20px;
    justify-content: center;
    border-radius: 24px;
}

.container-1{
    padding:40px;
    box-sizing: border-box;
}
h1{
font-family:"Roboto",sans-serif;
font-weight: 700;
font-size:32px;
margin-bottom: 20px;
color: rgb(17, 17, 63);
}
.paragraph{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    color: rgb(15, 21, 48);
}
li,label{
   font-family: "Roboto",sans-serif;
   display: flex;
   justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(15, 21, 48);  
}
form{
    margin-top: 10px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
input{
    padding:20px;
    border-radius: 12px;
    border:1px  solid rgb(139, 137, 137)
}
input:hover{
    cursor: pointer;
}
button{
 padding:20px;
    border-radius: 12px;
    border:1px  solid rgb(142, 142, 146)  ;
    color: white;
    background-color:rgb(12, 16, 44);
    font-family: "Playwrite USA Traditional Guides";
    font-size: 20px;
}
button:hover{
    cursor: pointer;
    background-image: linear-gradient(to bottom ,orange);
}
#sucesscontainer{
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    width: 30%;
    margin-top: 50px;
}
#dis-btn{
width: 100%;
}
@media (max-width:700px){
  #conatiner{
    flex-direction: column-reverse;
  }
  body{
    background-color: white
  }
}
.icon{
    display: flex;
}






































































































































































































































































































































































































































































































































































































































































































































































































































































































































































